<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Message</title>
  </head>
  <body>
    <h1>Message with index <%= messageobject.id %></h1>
    <p>UserName: <%= messageobject.username %></p>
    <p>Message: <%= messageobject.message %></p>
    <p>Added on: <%= messageobject.datetime %></p>
  </body>
</html>
