<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Message Form</title>
  </head>
  <body>
    <h1>Add New Message</h1>
    <form method="post" action="/new">
        <label for="username">Enter name of user:</label>
        <br>
        <input type="text" name="username" id="username"></input>
        <br>
        <label for="message">Enter your message:</label>
        <br>
        <input type="text" name="message" id="message"></input>
        <br>
        <input type="submit" value="Add Message">
    </form>
  </body>
</html>
